/polotnot_node/node_modules
/output
/output_subtitled
/separated
/temporary-data
/temporary-output
/uploads
/translated_output
/tts-json-output
output/video_local.json
output/video.json
output_subtitled/subtitled_79cf1c67-8d6c-47ff-b58b-4e3adfd9e491_video.mp4
output_subtitled/subtitled_665738ae-11c3-49a1-81c5-c26abce5bda7_video.mp4
temporary-data/segments_fra_Latn.json
temporary-data/segments_jpn_Jpan.json
temporary-data/tts_segments_ad4f8e52-b23a-4058-9dce-1c8c000db76c.json
translated_output/segments_fra_Latn_translated.json
translated_output/segments_jpn_Jpan_translated.json
uploads/video_local.mp4
